.header-text {
    font-family: 'Times New Roman';
    font-style: italic;
    color: #000;
    padding-left: 245px;
    font-size: 1.7em;
    margin-top: -315px;
}

.header-link {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
    color: #d93920;
    padding-left: 245px;
    font-size: 1.6em;
    padding-top: 20px;
}

.menu-left {
}

.menu-right {
    position: absolute;
    top: 0px;
}

.menu-right-background{
    background-image: url("/Content/images/Header2.jpg");
    height: 356px;
}

.menu-spacer {
    padding-bottom: 5px;
    background: #fff;
}

.noticias-header {
    font-family: 'Times New Roman';
    color: #d93920;
    text-transform: uppercase;
    padding-left: 229px;
    font-size: 5em;
    padding-top: 380px;
    letter-spacing: 8px;
}

.noticia-wrapper {
    padding-left: 229px;
}

.noticia-text-wrapper {
    padding-left: 15px;
}

.noticia-container {
    max-height: 300px;
    max-width: 580px;
}

.noticia-image {
    height: 300px;
    width: 533px;
}

.noticia-image-frame {
    width: 583px;
    height: 330px;
    padding: 15px;
    border: solid;
    border-width: 1px;
    border-color: #c5c5c5;
}

.noticia-image-shadow {
    background-image: url('/Content/images/NoticiasFrameShadow.jpg');
    background-repeat: no-repeat;
    padding-top:53px;
}

.noticia-title {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
    color: #000;
    margin-top: -20px;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 5px;
}

.noticia-text {
    font-family: 'Times New Roman';
    font-style: italic;
    color: #000;
}

.noticia-link {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
    color: #d93920;
    font-size: 1.0em;
    padding-top: 10px;
}
