.header-text {
    font-family: 'Times New Roman';
    font-style: italic;
    color: #000;
    padding-left: 245px;
    font-size: 1.7em;
    margin-top: -315px;
}

.header-link {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
    color: #d93920;
    padding-left: 245px;
    font-size: 1.6em;
    padding-top: 20px;
}

.menu-left {
}

.menu-right {
    position: absolute;
    top: 0px;
}

.menu-right-background{
    background-image: url("/Content/images/Header2.jpg");
    height: 356px;
}
.arrow{
    background-image: url("/Content/images/Arrow.png");
    background-repeat:no-repeat;
    width:27px;
    height:20px;
    display: inline-block;
}


.menu-spacer {
    padding-bottom: 5px;
    background: #fff;
}

.noticias-header {
    font-family: 'Times New Roman';
    color: #d93920;
    text-transform: uppercase;
    padding-left: 229px;
    font-size: 5em;
    padding-top: 380px;
    letter-spacing: 8px;
}

.areas-header {
    font-family: 'Times New Roman';
    color: #d93920;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    padding-left: 130px;
    padding-bottom: 10px;
    letter-spacing: 7px;
}

.times-italic{
    font-family: "Times New Roman";
    font-style:italic;
}
.noticia-wrapper {
    padding-left: 229px;
    display: inline-block;
}

.noticia-text-wrapper {
    padding-left: 15px;
}

.noticia-container {
    max-height: 300px;
    max-width: 580px;
}

.areas-wrapper {
     padding-left: 130px;
}

.areas-text-wrapper {
    padding-left: 130px;
    width:1152px;
    font-family:'Times New Roman';
    font-size: 1.3em;
}

.areas-container {
    width:1152px;
    padding-top: 50px;
}

.noticia-image {
    height: 300px;
    width: 533px;
}

.noticia-image-frame {
    width: 583px;
    height: 330px;
    padding: 15px;
    border: solid;
    border-width: 1px;
    border-color: #c5c5c5;
}

.areas-image-frame {
    width: 1152px;
    height: 498px;
    padding: 15px;
    border: solid;
    border-width: 1px;
    border-color: #c5c5c5;
}

.noticia-image-shadow {
    background-image: url('/Content/images/NoticiasFrameShadow.jpg');
    background-repeat: no-repeat;
    padding-top:53px;
}

.areas-image-shadow {
    background-image: url('/Content/images/AreasFrameShadow.png');
    background-repeat: no-repeat;
    padding-top:53px;
    width: 1152px;
}

.areas-gray-background {
    background-image: url('/Content/images/AreasGrayBackground.png');
    background-repeat: repeat-y;
    width: 1152px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Times New Roman';
    font-size: 1.3em;
}

.noticia-title {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
    color: #000;
    margin-top: -20px;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 5px;
}

.noticia-text {
    font-family: 'Times New Roman';
    font-style: italic;
    color: #000;
}

.noticia-link {
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: bold;
    color: #d93920;
    font-size: 1.0em;
    padding-top: 10px;
}
