#map_canvas {
    max-width: 1120px;
    height: 464px;
}

.logo-spacer {
    padding-bottom: 110px;
}

.contact-mini {
    position: absolute;
    z-index: 9999;
    text-align: right;
    right: 0;
    top: 466px;
}

.contact-mini-header {
    padding-top: 10px;
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-size: 1.2em;
    color: #C0C0C0;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: left;
    max-width: 250px;
}

.contact-mini-gray-background {
    background-image: url('/Content/images/AreasGrayBackground.png');
    background-repeat: repeat-y;
    max-width: 1152px;
    padding: 15px;
    margin-bottom: 30px;
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-size: 1.3em;
}


.noticias-image-thumb {
    max-width: 400px;
}

.header-text {
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-style: italic;
    color: #000;
    padding: 25px 25px 0px 25px;
    font-size: 4.4em;
    text-align: left;
    max-height: 290px;
    position: absolute;
    top: 90px;
    opacity: 0;
}

.header-link {
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #d93920;
    padding-left: 25px;
    font-size: 1.6em;
    padding-top: 20px;
    text-align: left;
    opacity: 1;
    padding-left: 60%;
    padding-top: 200px;
    opacity: 0;
}

.main {
    margin-left: auto;
    margin-right: auto;
}

.menu-left {
    min-width: 197px;
    background: #fff url("/Content/images/FakeBackground.png") repeat-y 50% 0;
}

.menu-right {
    height: 356px;
}

.menu-right-background {
    background-image: url("/Content/images/Header2.png");
    height: 356px;
}

.arrow {
    background-image: url("/Content/images/Arrow.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 20px;
    display: inline-block;
}



.noticias-header {
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #FFF;
    background-color: #363940;
    background-image: url("/Content/images/Title-Bar.jpg");
    background-repeat: repeat;
    text-transform: uppercase;
    padding: 10px 10px 10px 45px;
    font-size: 3.0em;
    top: 200px;
    letter-spacing: 8px;
    text-align: left;
    margin: 0px -15px 30px -15px;
}




.title-medium {
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #d93920;
    text-transform: uppercase;
}

.areas-header {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #d93920;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    padding-left: 13px;
    padding-top: 20px;
    padding-bottom: 10px;
    letter-spacing: 7px;
}

.times-italic {
    font-family: "Times New Roman";
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-style: italic;
}

.times-regular {
    font-family: "Times New Roman";
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.times-bold {
    font-family: "Times New Roman";
    font-weight: bold;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.uppercase
{
    text-transform:uppercase !important;
}

.text-medium
{
    font-size: 1.1em;
}


.text-big
{
    font-size: 2em;
}

.form-subtitle {
    font-family: "Times New Roman";
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-size: 1.5em;
    font-weight: bold;
}

.form-label {
    font-family: "Times New Roman";
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-size: 1.3em;
    font-weight: bold;
}


.form-button {
}

.social-mini {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.overall-wrapper {
    padding-left: 22px;
    padding-right: 10px;
}


.noticia-text-wrapper {
    padding-left: 15px;
    padding-top: 20px;
}

.noticia-container {
    max-height: 300px;
    max-width: 580px;
}

.noticia-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.areas-wrapper {
    padding-left: 13px;
}

.areas-text-wrapper {
    padding-left: 13px;
    max-width: 1152px;
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-size: 1.3em;
}

.areas-container {
    max-width: 1152px;
}

.image-responsive {
}

img {
    max-width: 100%;
    height: auto;
}

.noticia-image-frame {
    padding: 15px;
    border: solid;
    border-width: 1px;
    border-color: #c5c5c5;
    max-width: 532px;
}

.areas-image-frame {
    max-width: 1152px;
    max-height: 498px;
    padding: 15px;
    border: solid;
    border-width: 1px;
    border-color: #c5c5c5;
}

.areas-map-image-frame {
    max-width: 1152px;
    max-height: 498px;
    padding: 15px;
    border: solid;
    border-width: 1px;
    border-color: #c5c5c5;
    margin-bottom: 15px;
}

.noticia-image-shadow {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.areas-image-shadow {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.areas-gray-background {
    background-image: url('/Content/images/AreasGrayBackground.png');
    background-repeat: repeat-y;
    max-width: 1152px;
    padding: 50px 50px 35px 50px;
    margin-bottom: 30px;
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-size: 1.3em;
    margin-left: -15px;
    overflow: hidden;
}

.areas-form-gray-background {
    background-image: url('/Content/images/AreasGrayBackground.png');
    background-repeat: repeat-y;
    max-width: 1152px;
    padding: 50px 50px 50px 20px;
    margin-bottom: 30px;
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-size: 1.3em;
}

.gray-header {
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-size: 2.3em;
    color: #C0C0C0;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .gray-header {
        font-size: 1.0em;
    }

    .noticias-header {
        font-size: 2em;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    .noticia-text-wrapper
    {
        padding-top: 10px;
    }

    .areas-gray-background {
        padding: 25px;
        font-size: 1.1em;
    }

    .areas-header {
        font-size: 1.2em;
        padding-left: 0px;
    }

    .areas-text-wrapper
    {
        padding-left:0px;
        font-size: 1.1em;
    }

    .input-spaced
    {
        padding: 0px 0px 0px 0px;
    }

    .areas-form-gray-background
    {
       padding: 10px 20px 10px 10px;
    }

}

.input-spaced {
    padding: 0px 0px 12px 20px;
    padding-top: 18px;
    font-family: "Times New Roman";
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #C0C0C0;
    font-size: 1.18em;
    width: 100%;
}

.input-spaced-mini {
    padding-bottom: 12px;
    padding-top: 18px;
    font-family: "Times New Roman";
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    color: #C0C0C0;
    font-size: 0.9em;
}

.input-spaced-mini-width {
    width: 295px;
}

.input-wide {
    color: #C0C0C0;
    padding: 10px;
    width: 100%;
    padding-left: 15px;
}

.contact-mini-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

textarea {
    color: #C0C0C0;
    width: 96%;
    padding: 10px;
    padding-left: 20px;
    height: 390px;
    width: 100%;
}

.text-decoration-off
{
    text-decoration:none !important;
}

.noticia-title {
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-weight: bold;
    color: #000;
    margin-top: -20px;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 5px;
}

.noticia-text {
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-style: italic;
    color: #000;
    max-width: 510px;
}

.noticia-link {
    font-family: 'Times New Roman';
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-style: italic;
    font-weight: bold;
    color: #d93920;
    font-size: 1.0em;
    padding-top: 10px;
    padding-bottom: 20px;
}

.table-padding
{
    padding-left:5px;
    padding-right:5px;
}
