@{
    ViewBag.Title = "Home Page";
}
<div class="noticias-header">
    Noticias
</div>
<div class="menu-spacer"></div>
<div class="noticia-wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="noticia-image-frame">
                <div class="noticia-image">
                    <img src="~/Content/images/Picture-1.jpg" />
                </div>
            </div>
            <div class="noticia-image-shadow">
                <img src="~/Content/images/NoticiasFrameShadow.png" class="noticia-image-shadow" />
            </div>
            <div class="noticia-text-wrapper">
                <div class="noticia-title">
                    Título falso
                </div>
                <div class="noticia-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo nisl, dignissim ut ante sed, aliquam varius orci. Quisque id neque pulvinar, condimentum elit sit amet, dapibus elit. Proin laoreet mattis risus viverra pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo nisl, dignissim ut ante sed, aliquam varius orci. Quisque id neque pulvinar, condimentum elit sit amet, dapibus elit. Proin laoreet mattis risus viverra pharetra. </div>
                <div class="noticia-link">Leer Más</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="noticia-image-frame">
                <div class="noticia-image">
                    <img src="~/Content/images/Picture-2.jpg" />
                </div>
            </div>
            <div class="noticia-image-shadow">
                <img src="~/Content/images/NoticiasFrameShadow.png" class="noticia-image-shadow" />
            </div>
            <div class="noticia-text-wrapper">
                <div class="noticia-title">
                    Título falso
                </div>
                <div class="noticia-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo nisl, dignissim ut ante sed, aliquam varius orci. Quisque id neque pulvinar, condimentum elit sit amet, dapibus elit. Proin laoreet mattis risus viverra pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo nisl, dignissim ut ante sed, aliquam varius orci. Quisque id neque pulvinar, condimentum elit sit amet, dapibus elit. Proin laoreet mattis risus viverra pharetra. </div>
                <div class="noticia-link">Leer Más</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="noticia-image-frame">
                <div class="noticia-image">
                    <img src="~/Content/images/Picture-3.jpg" />
                </div>
            </div>
            <div class="noticia-image-shadow">
                <img src="~/Content/images/NoticiasFrameShadow.png" class="noticia-image-shadow" />
            </div>
            <div class="noticia-text-wrapper">
                <div class="noticia-title">
                    Título falso
                </div>
                <div class="noticia-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo nisl, dignissim ut ante sed, aliquam varius orci. Quisque id neque pulvinar, condimentum elit sit amet, dapibus elit. Proin laoreet mattis risus viverra pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo nisl, dignissim ut ante sed, aliquam varius orci. Quisque id neque pulvinar, condimentum elit sit amet, dapibus elit. Proin laoreet mattis risus viverra pharetra. </div>
                <div class="noticia-link">Leer Más</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="noticia-image-frame">
                <div class="noticia-image">
                    <img src="~/Content/images/Picture-4.jpg" />
                </div>
            </div>
                <img src="~/Content/images/NoticiasFrameShadow.png" class="noticia-image-shadow" />
            <div class="noticia-text-wrapper">
                <div class="noticia-title">
                    Título falso
                </div>
                <div class="noticia-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo nisl, dignissim ut ante sed, aliquam varius orci. Quisque id neque pulvinar, condimentum elit sit amet, dapibus elit. Proin laoreet mattis risus viverra pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo nisl, dignissim ut ante sed, aliquam varius orci. Quisque id neque pulvinar, condimentum elit sit amet, dapibus elit. Proin laoreet mattis risus viverra pharetra. </div>
                <div class="noticia-link">Leer Más</div>
            </div>
        </div>
    </div>
</div>