<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://genarosilvestre.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>genarosilvestre.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>genarosilvestre</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$genarosilvestre</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Model1Container" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bdcxn10zys.database.windows.net,1433;Initial Catalog=genarosilvestre_db;User ID=genarodb@bdcxn10zys;Password=Balmes*341" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GenaroSilvestre.Models.Model1Container, GenaroSilvestre" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=genarosilvestreimages;AccountKey=ZklP2hU6oXBp3G3ugfvKVSq7eSWNIwsf1PTMxTYCIZjU5Lm+eF0ULHU8ai11DDN8LqPRMarN1fkz1Lnw8eB4GA==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=genarosilvestreimages;AccountKey=ZklP2hU6oXBp3G3ugfvKVSq7eSWNIwsf1PTMxTYCIZjU5Lm+eF0ULHU8ai11DDN8LqPRMarN1fkz1Lnw8eB4GA==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model1Container-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:bdcxn10zys.database.windows.net,1433;Initial Catalog=genarosilvestre_db;User ID=genarodb@bdcxn10zys;Password=Balmes*341"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>