@model GenaroSilvestre.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="noticias-header">
   @Html.DisplayFor(model => model.Title)
</div>
<div class="menu-spacer"></div>

<div class="noticia-wrapper">
    <img src="@Html.DisplayFor(model => model.Image)" />
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>
        </dl>
    </div>