@model GenaroSilvestre.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="noticias-header">
    @Html.DisplayFor(model => model.Title)
</div>
<div class="menu-spacer"></div>

<div class="main-wrapper">
    <img src="@Html.DisplayFor(model => model.Image)" />
    <hr />
    <div class="times-regular text-justify">
        @Html.Raw(Model.Text)
    </div>
</div>