@model GenaroSilvestre.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();

    string NewsText;
    string NewsTitle;

    if (culture == "es")
    {
        NewsText = Model.Text;
        NewsTitle = Model.Title;
    }
    else
    {
        NewsText = Model.TextEnglish;
        NewsTitle = Model.TitleEnglish;
    }
}


<div class="noticias-header">
    @NewsTitle
</div>
<div class="menu-spacer"></div>

<div class="main-wrapper">
    <img src="@Html.DisplayFor(model => model.Image)" />
    <hr />
    <div class="times-regular text-justify">
        @Html.Raw(NewsText)
    </div>
</div>